@import './keyframes.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply text-primary;
  font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;
}

button:disabled {
  cursor: not-allowed;
}

.index-sidebar-width {
  max-width: min(250px, 25%);
  min-width: 150px;
}

.index-sidebar-height {
  min-height: calc(100vh - 2.5rem - 1rem);
}

.index-spinner {
  display: block;
  position: relative;
  display: grid;
  padding: 1vmin;
  place-items: center;
}

.index-spinner::before,
.index-spinner::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
}

.index-spinner::before {
  top: calc(50% - 1vmin);
  left: calc(50% - 1vmin);
  animation: kf-spinner-2 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.index-spinner::after {
  top: 50%;
  left: 50%;
  animation: kf-spinner-1 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.index-hide-animation {
  animation: kf-fade-out 0.3s ease-in-out forwards;
}

.index-show-animation {
  animation: kf-fade-in 0.3s ease-in-out forwards;
}
