@import './keyframes.css';
@import './utils/tailwind.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply text-primary;
  font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;
}

button:disabled {
  cursor: not-allowed;
}

.index-sidebar-width {
  max-width: min(250px, 20%);
  min-width: min(250px, 20%);
}

.index-sidebar-width + .index-max-w-screen-xl-sidebar-width {
  max-width: calc(1280px - min(250px, 20%));
}

.index-sidebar-height {
  min-height: calc(100vh - 2.5rem - 1rem);
  max-height: calc(100vh - 2.5rem - 1rem);
}

.index-spinner {
  display: block;
  position: relative;
  display: grid;
  padding: 1vmin;
  place-items: center;
}

.index-spinner::before,
.index-spinner::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  background-color: white;
}

.index-spinner.reverse::before,
.index-spinner.reverse::after {
  background-color: black;
}

.primary .index-spinner::before,
.primary .index-spinner::after {
  @apply bg-primary;
}

.index-spinner::before {
  top: calc(50% - 1vmin);
  left: calc(50% - 1vmin);
  animation: kf-spinner-2 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.index-spinner::after {
  top: 50%;
  left: 50%;
  animation: kf-spinner-1 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.index-hide-animation {
  animation: kf-fade-out 0.3s ease-in-out forwards;
}

.index-show-animation {
  animation: kf-fade-in 0.3s ease-in-out forwards;
}

.index-skeleton-animation {
  animation: kf-skeleton 5s cubic-bezier(0.6, 0.04, 0.98, 0.335)
    infinite alternate;
}
