@keyframes kf-spinner-1 {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}

@keyframes kf-spinner-2 {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}
@keyframes kf-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes kf-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes kf-slide-in {
  from {
    top: 20%;
    transform: translateY(-50%);
  }
  to {
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes kf-slide-out {
  from {
    top: 50%;
    transform: translateY(-50%);
  }
  to {
    top: 0%;
    transform: translateY(-100%);
  }
}

@keyframes kf-skeleton {
  from {
    background-color: rgba(128, 128, 128, 1);
  }
  15% {
    background-color: rgba(128, 128, 128, 0.5);
  }
  30% {
    background-color: rgba(128, 128, 128, 0.8);
  }
  40% {
    background-color: rgba(128, 128, 128, 0.7);
  }
  50% {
    background-color: rgba(128, 128, 128, 0.6);
  }
  55% {
    background-color: rgba(128, 128, 128, 0.7);
  }
  60% {
    background-color: rgba(128, 128, 128, 0.9);
  }
  65% {
    background-color: rgba(128, 128, 128, 0.8);
  }
  from {
    background-color: rgba(128, 128, 128, 1);
  }
}
